<div class="container__big-card">
	<div class="big-card__image">
		<img
			src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/jqhdlvrxrnqnf9auzh3o.jpg"
			alt="big card image"
		/>
	</div>
	<div class="big-card__date">
		<span> January, 30 </span>
	</div>

	<div class="big-card__title">
		<h1>
			<a href="#">
                Angular: Da Revolução do AngularJS à Magia do Zone.js e TypeScript
            </a>
		</h1>
	</div>
	<div class="big-card__description">
		<p>
			<a href="#">
				O Angular foi originalmente desenvolvido pela Google e lançado em 2010 como AngularJS. Em 2016, ele foi completamente reescrito e relançado como Angular (sem o "JS"), utilizando TypeScript em vez de JavaScript. Essa mudança trouxe uma arquitetura mais robusta, com foco em componentes e módulos. Uma curiosidade interessante é que o Angular usa Zone.js para detectar automaticamente mudanças no estado da aplicação e atualizar a interface do usuário. Isso elimina a necessidade de chamar manualmente funções como $digest() ou $apply(), que eram comuns no AngularJS. Além disso, o Angular é amplamente utilizado em aplicações empresariais devido à sua escalabilidade e suporte a ferramentas como o Angular CLI, que simplifica o desenvolvimento.
			</a>
		</p>
	</div>
</div>
