<app-menu-title></app-menu-title>

<div class="container__articles">
	<div class="articles__main">
		<app-big-card
			id="1"
			photoCover="/img/Print_API-Carometro-Github.png"
			cardDate="December 9, 2024"
			cardTitle="Carômetro para Alunos FATEC ZL !!!"
			cardDescription="O projeto do Sistema de Carômetro foi desenvolvido com o objetivo de integrar um carômetro ao site da FATEC Zona Leste. Esse sistema visa aprimorar a organização e visualização das informações acadêmicas, fornecendo um ambiente moderno e eficiente para alunos e professores. O desenvolvimento do sistema seguiu as diretrizes estabelecidas pela Coordenação do Curso de Análise e Desenvolvimento de Sistemas (ADS), bem como pela professora orientadora da disciplina Laboratório de Engenharia de Software."
		></app-big-card>
	</div>

	<div class="articles__others">
		<app-small-card
			id="2"
			photoCover="/img/DockerImage-MyPokedex.png"
			cardDate="October 26, 2024"
			cardTitle="Docker Container Image - My Pokedex"
		></app-small-card>

		<app-small-card
			id="3"
			photoCover="/img/print_Interface-Netflix.png"
			cardDate="August 5, 2023"
			cardTitle="Netflix Interface Clone"
		></app-small-card>

		<app-small-card
			id="4"
			photoCover="/img/CapturaTestesDoAppManipuladorDeTarefas.png"
			cardDate="October 8, 2024"
			cardTitle="Manipulador de Tarefas - 100% Coverage"
		></app-small-card>
	</div>
</div>
